
.icon-left-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e825'; } /* '' */
.icon-down-dir:before { content: '\e826'; } /* '' */
.icon-up-dir:before { content: '\e827'; } /* '' */
.icon-down-open:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e82c'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-user:before { content: '\e83f'; } /* '' */
.icon-mail:before { content: '\e842'; } /* '' */
.icon-ok:before { content: '\e843'; } /* '' */
.icon-plus:before { content: '\e845'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */